<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SubjectMapper">
    <resultMap id="subject" type="model.Subject">
        <id property="idSubject" column="id_subject"/>
        <result property="subjectName" column="subject_name"/>
    </resultMap>
    <select id="getStudentById" parameterType="java.lang.Integer" resultMap="subject">
        select * from subjects where id_subject = #{idSubject}
    </select>

    <select id="getSubject" resultMap="subject">
        select * from subjects
    </select>
</mapper>